.header {
  padding: 20px 40px;
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.nav {
  ul {
    li {
      display: inline-block;
      margin: 0 15px;
      font-size: var(--mid-fontsize);
      a {
        color: black;
        &:hover {
          color: var(--main-orange);    
        }
      }
    }
  }
}